<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>me.gabbo.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>me.gabbo.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>me.gabbo.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediciPrestazione</servlet-name>
        <servlet-class>me.gabbo.MediciPrestazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Studi</servlet-name>
        <servlet-class>me.gabbo.Studi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visite</servlet-name>
        <servlet-class>me.gabbo.Visite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prenotazione</servlet-name>
        <servlet-class>me.gabbo.Prenotazione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Servlet/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Servlet/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediciPrestazione</servlet-name>
        <url-pattern>/Servlet/MediciPrestazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Studi</servlet-name>
        <url-pattern>/Servlet/Studi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visite</servlet-name>
        <url-pattern>/Servlet/Visite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prenotazione</servlet-name>
        <url-pattern>/Servlet/Prenotazione</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
